* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: hsla(178, 60%, 92%, 0.87);
  background-color: hsl(240, 2%, 10%);
}

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
